# para eclipse #

.metadata/
.recommenders/
.settings/
bin/

.project
.classpath

# extra para los documentos de cada practica #
*.pdf
*.doc
*.docx
*.mdj

# las dos primeras practicas no deben aparecer #
practica1 - maven/
practica2 - git/

# para maven #

target/